.thumbnail{
    width:600px;
    height:400px;  
}

.thumbnail:after {
    content: attr(categoria);
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    padding-left: 150px;
    text-shadow: 2px 2px 6px black;
}

[ui-view].ng-leave {
  animation: fadeOut 1s; 
}

[ui-view].ng-enter {
  animation: fadeIn 1s;
}

.card-columns .ng-leave {
  animation: fadeOut 0.5s; 
}

.card-columns .ng-enter {
  animation: fadeIn 2s;
}

.popover-title{
    background-color: #6B5F5F;
}

.popover-content{
    background-color: #111;
}

.flex-caption {
 margin-top: -200px;
  width: 100%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.2);
  color: #fff;
  text-shadow: 2px 2px 8px black;
    text-align: center;
  font-size: 30px;
  line-height: 50px;
}

.reservada{
  background-image: url('http://files.parsetfss.com/5d27ade1-3065-494b-bffa-13397caaf664/tfss-9c5fcfcd-d7fb-4234-bef8-842eb6a1567f-reservada.png') !important;
}

.initial-card{
    border: none !important;
}

.modal-header{
    background-color: rgb(2, 117, 216);
    color: white;
}

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.avatar-selected{
    box-shadow: 0px 0px 10px green;
}

.img-responsive {
    float: left;
    max-width: 100%;
    height: auto;
}

.card-title{
    font-size: 40px !important;
    text-shadow: 2px 2px 8px black;
    opacity: 0.6;
}

