<!--HORARIO DE LAS CLASES. HAY UN MENÚ CON PESTAÑAS PARA CADA DIA DE LA SEMANA.
DESDE EL ACTUAL HASTA LOS 7 DÍAS POSTERIORES -->
            
          <ul class="nav nav-pills">
            <li ng-repeat="dia in actividadesPorDia" ng-class="{active:tab.isSet($index)}"><a href ng-click="setTab($index)">{{dia[0].attributes.date | date:'EEEE'}}</a></li>
              
              <!--LISTAR TODAS LAS ACTIVIDADES DEL DÍA AQUI-->
              
              
              
       
              
        </ul>
        
        <div ng-repeat="actividad in actividadesPorDia[tabSelected]">
       
             <h2>{{actividad.attributes.type}}</h2>
            <p>Plazas disponibles: {{actividad.attributes.disponibles}}</p>
             <p>Monitor: {{actividad.monitor.name}}</p>
        </div>