<div class="page-header">
  <h1>Mis reservas</h1>
</div>
<div class="row">
<div class="col-xs-12 col-md-6" ng-repeat="reserva in reservas">

    <div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">{{reserva.attributes.actividad.attributes.tipo.attributes.title | uppercase}}</div>
  <!-- Table -->
  <table class="table table-striped text-center">
    <tr>
      <td>Sala</td>
      <td>{{reserva.attributes.actividad.attributes.sala}}</td>      
    </tr>
      <tr>
      <td>Fecha</td>
      <td>{{reserva.attributes.actividad.attributes.date |date:'d-MMM' | uppercase}}</td>      
    </tr>
      <tr>
      <td>Hora</td>
      <td>{{reserva.attributes.actividad.attributes.date |date:'shortTime'}}</td>      
    </tr>
  </table>
         <div class="panel-footer text-center"> <a ng-click="cancelar(reserva.id)" class="btn btn-danger ">Cancelar</a></div>
        
</div>
     
     
  </div>

</div>
</div>
