/*CSS CUstomizado*/

font-family: font-family: 'Gloria Hallelujah', cursive;

.thumbnail{
    width:600px;
    height:400px; 
}

.thumbnail:after {
    content: attr(categoria);
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    padding-left: 150px;
    text-shadow: 2px 2px 6px black;
}

[ui-view].ng-leave {
  animation: fadeOut 1s; 
}

[ui-view].ng-enter {
  animation: fadeIn 1s;
}

.card-columns .ng-leave {
  animation: fadeOut 0.5s; 
}

.card-columns .ng-enter {
  animation: fadeIn 2s;
}

.popover-title{
    background-color: #f53e74;
}

.popover-content{
    background-color: #5bc0de;
}

.flex-caption {
  width: 100%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background-color: rgba(208, 55, 135, 0.7);
  color: #fff;
    text-align: center;
  font-size: 23px;
  line-height: 50px;
}

.reservada{
  background-image: url('http://files.parsetfss.com/5d27ade1-3065-494b-bffa-13397caaf664/tfss-9c5fcfcd-d7fb-4234-bef8-842eb6a1567f-reservada.png') !important;
}

.initial-card{
    border: none !important;
}

.modal-header{
    background-color: rgb(2, 117, 216);
    color: white;
}

body{
    background-color: rgba(245, 62, 116,0.4) !important;
}

footer{
    margin-bottom: 30px;
    font-size: 30px;
}

li p, legend, a.card-title, footer{
    font-family: 'Gloria Hallelujah', Arial, serif; 
}

.profile-usertitle{
    font-family: 'Gloria Hallelujah', Arial, serif; 
    font-weight: bolder;
}

h1,h2{
   font-family: 'Gloria Hallelujah', Arial, serif; font-weight: 400; 
    color:#5bc0de;
}

legend{
   font-size: 40px; 
    color:#5bc0de;
}

.avatar-selected{
    box-shadow: 0px 0px 10px green;
}

.img-responsive {
    float: left;
    max-width: 100%;
    height: auto;
}

.card-title{
    font-size: 40px !important;
    text-shadow: 2px 2px 5px #5bc0de;
    opacity: 1;
    color:#f53e74 !important;
}

.titulo-inicio{
    background-color: rgba(0,0,0,0.5);
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    padding:1px;
}

.card-img-overlay .card-title{
    position: relative;
    top: 160px;
    left: 20px;
}

.card-img {
    border-radius: .25rem;
    border: 3px solid #5bc0de;
    opacity: 1;
}

.menu-actividades{
    border-bottom: 2px solid #5bc0de;
    margin-bottom: 20px;
}

/***

***/

body {
  background: #F1F3FA;
}


.btn-danger{
    background-color: #f53e74;
}

.btn-success{
    background-color: #5cea88;
}


.flexslider .slides img {
    width: 80% !important;
    display: block;
    margin: 0 auto !important;
}



    



