
<div class="container">
    
    <div class="row profile">
        <div class="col-md-9">
            <div class="profile-content">
            <!--VISTA OPCIONES USUARIO -->
                <div ui-view></div>

      </div>      
	</div>
        
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="{{avatar}}" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Bienvenido
					</div>
					<div class="profile-usertitle-job">
						{{usuario.name}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->

				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a ui-sref=".actividades">
							<i class="glyphicon glyphicon-home"></i>
							 Próximas clases</a>
						</li>
						<li>
							<a ui-sref=".reservas">
							<i class="glyphicon glyphicon-user"></i>
							Mis reservas </a>
						</li>
						<li>
							<a>
							<i class="glyphicon glyphicon-ok"></i>
							Calorías quemadas </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>

	</div>
</div>
